@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply btn;
  }
}




/* Add custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}
